:coffeescript
    map = new OpenLayers.Map "mapdiv"
    map.addLayer new OpenLayers.Layer.OSM()
 
    #pois = new OpenLayers.Layer.Text "My Points",
    #            location:"./poi.txt",
    #            projection: map.displayProjection
    
    #map.addLayer pois
    lonLat = new OpenLayers.LonLat(-51.22873460, -30.02770410)
                .transform(
                    new OpenLayers.Projection("EPSG:4326"),
                    new OpenLayers.Projection("EPSG:900913")
                )
    zoom=10
    
    map.setCenter lonLat, zoom 