:coffeescript
    map = new OpenLayers.Map "mapdiv"
    map.addLayer new OpenLayers.Layer.OSM()
 
    #pois = new OpenLayers.Layer.Text "My Points",
    #            location:"./poi.txt",
    #            projection: map.displayProjection
    
    # map.addLayer pois
    lonLat = new OpenLayers.LonLat(9.5788, 48.9773)
            .transform
            new OpenLayers.Projection "EPSG:4326",
            map.getProjectionObject()
    zoom=11
    map.setCenter lonLat, zoom 