extends layout


block content
	header#titulo
		h1 Onde Estou Seguro #{title}?

	div.row
		#crimes_por_tipo.span6
			include graficos/_crimes_por_tipo
		#crimes_por_ano.span6
			include graficos/_crimes_por_ano
	div.row
		#mapdiv.span12
			include mapas/_mapa_criminalidade
	