extends layout


block content
	header#titulo
		h1 Onde Estou Seguro?
		hr
	
	div.row
		#map

	div.row
		#crimes_por_tipo.span6
			include graficos/_crimes_por_tipo
		#crimes_por_ano.span6
			include graficos/_crimes_por_ano
	div.row
		div.span6
			p FOO
		div.span6
			p BAR