@import 'nib'

.container
  margin-top 30px

h2
  smooth-button()
  width: 90%
  font-size: 2em

h3
  margin-top: 20px
pre
  font-family: courier
  background-color: rgba(0,0,0,.8)
  color: yellow
  width: 100%
  margin-bottom: 20px
  padding: 10px
  border: 1px solid black

html, body
  height: 100%
body
  background-color:orange!important

  